
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* navbar styles */
.main-section{
    background:linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.header-main-sec{
    background-color: rgb(247, 247, 247);
    border-bottom: 2px dashed gray;
    margin-bottom: 100px;
}

.nav-cls{
    /* background-color: rgb(247, 247, 247);
    border-bottom: 2px dashed rgb(200, 193, 193); */
}
.nav-parent{
 display: flex;
 justify-content: space-around;
 padding-top: 30px;
 align-items: center;
 gap: 20px;
}
.loghu{
    display: flex;
    align-items: center;
}
.anchor{
    display:flex;
    gap: 30px;
}
.anchor a {
    text-decoration: none;
}

.home{
    color: rgb(254, 163, 1);
}
.about{
    color: rgb(1, 172, 253);
}
.facities{
    color: rgb(5, 212, 223);
}
.admission{
    color: rgb(93, 88, 239);
}
.nav-btn{
    background-color: rgb(254, 163, 1);
    width: 150px;
    height: 50px;
    padding:2px;
    border-radius: 10px;
    border: none;
    color: white;
}
.menu-icon{
  font-size: 50px;
  display: none;
}
hr{
    background-color:rgb(226, 155, 32) ;
    height: 1px;
    display: none;
}



/* banner styles */
.banner-sec{
    display: flex;
    justify-items: center;
    padding: 20px;
}

.banner-parent{
  display:flex;
  /* grid-template-columns: repeat(2, 1fr); */
  align-items: center;
  margin:0 100px;
  justify-content: center;
  margin: auto;
}

.banner-1 h2 {
    font-size: 56px;
    font-weight: 700;
}
.banner-1 p {
    font-size: 20px;
    font-weight: 400;
}
.banner-btn{
    width: 131px;
    height: 42px;
    background-color: black;
    border-radius: 5px;
    color: white;
}

.banner-1{
    width: 100%;
   

    
}
.banner-2{
    width: 100%;
    display: flex;
    justify-content:center;
}
/* main styles  */
.main-sec{
    background-image: url("assets/bg.png");
}

.marquee-text{
 font-size:50px; 
 background-color: rgba(222, 222, 199, 0.142);
}
.marquee-container{

}
.main-sec h1 {
    text-align: center;
    font-size: 46px;
    font-weight: 700;


}

.stand-card-parent{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 100px;
}
.stand-card-1{
    width: 240px;
    height: 370px;
    border: 2px solid ;
    padding: 10px;
    border-radius: 7px;
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    text-align: center;
    border: none;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(188, 23, 23, 0.05);
}
.stand-card-2{
    width: 240px;
    height: 370px;
    border: 2px solid ;
    padding: 10px;
    border-radius: 7px;
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    text-align: center;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border: none;
}
.stand-card-3{
    width: 240px;
    height: 370px;
    border: 2px solid ;
    padding: 10px;
    border-radius: 7px;
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    text-align: center;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border: none;
}
.stand-card-1  button,.stand-card-2 button, .stand-card-3 button{
    border: none;
}
.stand-card-1 button{
    color: rgb(100, 200, 255);
}
.stand-card-2 button{
    color: rgb(240, 170, 0);
}
.stand-card-3 button{
    color: rgb(100, 200, 255);
}

.lessthen-btn{
    text-align: center;
    margin-top: 100px;
    border: none;
}
.lessthen-btn button {
    border: none;
    color: aliceblue;
    font-size: 30px;
}
.lessthen-btn button{
    width:120px;
    height:120px;
    border-radius: 60px;
    margin-left: 10px;
    background-color: rgb(254, 163, 1);
}

/* our stories styles */

.main-sec-2{
    background-image: url("assets/bg.png");
}

.main-sec-2 h2{
    text-align: center;
    margin-top: 50px;
    font-size: 46px;
    font-weight: 700;
}

.Stories-parent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 0px;
    margin:  0 100px;
    margin-top: 50px;
}
.Stories-child-1{
   background-color: whitesmoke;
   justify-items: center;
   border-radius: 10px 10px 10px 10px ;
   width:80%;
     
   
}
.Stories-child-1 img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    position:relative ;
}

.Stories-child-1 p {
  padding: 20px;
  margin-top: 100px;
  font-size: 20px;
   font-weight: 500;
   color: (102, 102, 102)

}

.Stories-child-1 h3{
    font-size: 24px;
    font-weight: 700;
}
.Stories-child-2{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   gap: 10px;
   width: 100%;
  
}
.Stories-mini-1  {
    background-color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px ;
}
.Stories-mini-1 p{
    padding: 40px;
    font-size: 15.34px;
    width: 161.05px;
    height: 47.93px; 
    margin: auto;
   
}
.Stories-mini-1 img{
    border-radius: 10px 10px 0 0;
   
}

.middle-btn-1{
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    width: 174.51px;
    height: 47.93px;
    border: none;
    position:relative ; 
    top: -30px;
    left: 10px;

}
.middle-btn-2{
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    width: 174.51px;
    height: 47.93px;
    border: none;
    position:relative ; 
    top: -30px;
    left: 10px;
    background-color: chartreuse;

}
.middle-btn-3{
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    width: 174.51px;
    height: 47.93px;
    border: none;
    position:relative ; 
    top: -30px;
    left: 10px;
    background-color: rgb(242, 190, 21);

}
.middle-btn-4{
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    width: 174.51px;
    height: 47.93px;
    border: none;
    position:relative ; 
    top: -30px;
    left: 10px;
    background-color: rgb(21, 132, 242);

}
.middle-btn-5{
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    width: 174.51px;
    height: 47.93px;
    border: none;
    position:relative ; 
    top: -30px;
    left: 10px;
    background-color: rgba(224, 242, 21, 0.903);

}

.veiw-btn{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    width: 197px;
    height: 50px;
    color: white;
    text-align: center;
    justify-items: center;
}
.btn-div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* footer styles */
.footer-m{
    background-color:rgb(1, 172, 253) ;
    margin-top: 100px;
}

.footer-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    padding: 100px;
    align-items: start;
}

.footer-mini-1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-mini-1 h1{
     width: 206.11px;
    height: 80px;
    font-size: 42.14px;
    font-weight: 700;
    color: aliceblue;
}
.footer-child-1 p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.footer-child-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-child-2 h2{
    font-size: 24px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.footer-child-2 a{
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
}

.footer-child-3 h2{
    color: rgb(255, 255, 255);
}
.footer-mini-2{
    display: flex;
   gap: 15px;
}


/* for mobaile devaice  */

@media screen and (max-width:576px) {
    .nav-parent{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        align-items: center;
        gap: 20px;
        padding: 10px;
       }  

       hr{
        background-color:rgb(226, 155, 32) ;
        height: 1px;
        display: block;
    
    }
    .banner-parent{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin: 0 auto;
      justify-items: center;
      padding: 0;
      width: 100%;
    }
    .banner-1{
        text-align: center;
        width: 100%;
        
    }
    .banner-2{
        text-align: center;
        width: 100%;
        
    }
    .banner-1 h2 {
        font-size: 30px;
        font-weight: 300;
    }
    .banner-1 p {
        font-size: 18px;
        font-weight:350;
        
    }
    .banner-2 img{
        width: 100%;
    }
    
    .stand-card-parent{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
    }
    .lessthen-btn{
     display: none;
    }

    .Stories-child-1{
        display: none;
    }

    .Stories-child-2{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        justify-items: center;
        width: 100%;
        gap:2px;
        padding: 0;
        margin: auto;
    }
    .Stories-parent{
        margin: 0;
        justify-content: center;
        display: flex;
        gap: 20px;
        width: 100%;

    }
    .Stories-mini-1{
        width: 173.09px;
        height: 179.59px;
        margin-top: 50px;
    }
    .Stories-mini-1 p{
        padding: 0px;
        font-size: 15.34px;
        width: 161.05px;
        height: 47.93px; 
        margin: auto;
        padding-bottom: 20px;
    }
    
    .middle-btn-2{
    border-radius: 47.93px;
    background: rgb(173, 241, 13);
    width: 110.91px;
    height: 30px;
    border: none;
    position:relative ; 
    top: -10px;
    left: 10px; 
    padding-bottom: 8px;
    }
    .middle-btn-3{
    border-radius: 47.93px;
    background: rgb(12, 232, 41);
    width: 110.91px;
    height: 30px;
    border: none;
    position:relative ; 
    top: -10px;
    left: 10px; 
    padding-bottom: 8px;
    }
    .middle-btn-4{
    border-radius: 47.93px;
    background: rgb(244, 86, 86);
    width: 110.91px;
    height: 30px;
    border: none;
    position:relative ; 
    top: -10px;
    left: 10px; 
    padding-bottom: 8px;
    }
    .middle-btn-5{
    border-radius: 47.93px;
    background: rgb(7, 248, 59);
    width: 110.91px;
    height: 30px;
    border: none;
    position:relative ; 
    top: -10px;
    left: 10px; 
    padding-bottom: 8px;
    }

    .footer-parent{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding:20px;
        margin: auto;
        justify-items:start ;
        padding-left: 20px;
        padding-bottom: 20px;
        gap: 10px;
    }
    
    .footer-child-1 p{
        font-size :20px;
        font-weight:300;
        color: rgb(255, 255, 255);
    }
    
    .anchor a,.nav-btn {
        display: none;
    }
    .menu-icon{
        display: block;
    }
   

}

/* responsive for tablet  */

@media screen and (min-width:577px) and (max-width:992px){
   .nav-parent{
    justify-items: center;
    width: 100%;
    margin:auto;
    padding: 0;
   }
    

     .header-main-sec{
        width: 100%;
        margin: auto;
        justify-items: center;
     }

     .banner-parent{
       display: flex;
       justify-items: center;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       margin: auto;
     }
   

     .Stories-child-1{
        display: none;
     }
     .Stories-child-2{
       margin: auto;

        
     }

     .Stories-parent{
        display: flex;
        justify-items: center;
        margin: 0px;
     }

     .footer-parent{
        display: flex;
        flex-direction: column;
        gap: 50px;
     }

     .stand-card-parent{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
     }
}
